{% extends "base.html" %}

{% block content %}
<div class='row page-member-details'>

  <div class="row">

      <div class="row">
        <div class="small-12 columns">
          <div class="text-center">
            <h1>Maker's Account Information</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
        <h2>{{ details['result']['user']['fullName'] }}</h2>
        User name: {{ details['result']['user']['username'] }}
        <br/>eMail: {{ details['result']['user']['email'] }}
        <br/>Phone: {{ details['result']['user']['phone'] }}
      </div>
      <div class="small-6 columns voting-status">
      {{ contact }}
        {% if details['result']['user']['votingMember'] == "Yes" %}
          <h2>Registered to vote!</h2>
          <div class="voting-status">
            Yes
          </div>
        {% else %}
          <h2>You're Not Registered to vote!</h2>

          <div class="voting-status">
            <a href="{{ url_for('register_to_vote', details=details) }}"><span class="button large success">Register Now</span></a>
          </div>
        {% endif %}
        <!-- <img class="status-hand" src="static/images/Palm.svg"/> -->
      </div>
  </div>
</div>

  <div class="row">
    <div class="row">
      <div class="small-12 columns">
        <br/>
        <h2>Authorized Equipment List</h2>
        (Please report any omissions)
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <ul>
          {% for element in ad_group_1 %}
            <li> {{ element }} </li>
          {% endfor %}
        </ul>
      </div>
      <div class="small-6 columns">
        <ul>
        {% for element in ad_group_2 %}
          <li> {{ element }} </li>
        {% endfor %}
        </ul>
      </div>
  </div>
</div>
{% endblock %}
